/* CSS by Aaron Bell */




/* Imported Fonts*/


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');






/* CSS Reset */
*{
margin: 0;
padding: 0;
box-sizing: border-box;

}



/* Root Variables*/

  




h1{
  font-family: Kavoon;
  color: #ffffff;
  
}

h2{
  font-family: Kavoon;
  font-size: 1.5em;


}

.op1{
  color: #ffffff;
}




/* css by name */ 
body{
background-color: #7396f8;
font-family: Inter;




}



  .top-banner{
    background-color: #484FB7;
    color: var(#ffffff);
    text-align: center;
    padding: 25px;
    border-radius: 5px;
    max-width: 450px;
   justify-content: center;
   margin: 0 auto;
  }



nav.menu{
  background-color: var(#E9BB57);
  padding: 15px;
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px;
  text-align: center;
  max-width: 450px;
  margin: 20px auto;
  margin: 0 auto;

}

.menu{
  background-color: #E9BB57;
}

nav.menu a{
  display: block;
  background-color:#ffffff ;
  color: var(#484FB7);
  padding: 10px;
  margin: 8px auto;
  border-radius: 8px;
  font-weight: bold;
  width: 50%;

}



.services{
  font-family: Kavoon;
  font-size: 2.5em;
  margin-top: -100px;
  color: #ffffff;

  

}


.coach{
  color: #E9BB57;
  margin-top: -2px;
}

.purple-bg{
  background-color: #484FB7;
  padding-top: 110px;
  max-width: 450px;
  margin: 3px auto;
  min-height: 350px;
  border-radius: 10px;
  

}

.purple-bg2{
  background-color: #484FB7;
  padding-top: 110px;
  max-width: 450px;
  margin: 3px auto;
 height: 325px;
  border-radius: 10px;
}

.white-box{
  background-color: #ffffff;
  margin-top: 50px;
  padding-bottom: 309px;
  max-width: 400px;
  align-content: center;
  margin: 0 auto;
  border-radius: 10px;
  height: 20px;
 
  
}

.white-box2{

  background-color: #ffffff;
  margin-top: 5px;
  padding-bottom: 300px;
  max-width: 400px;
  align-content: center;
  margin: 0 auto;
  border-radius: 10px;
    position: relative;
  top: -90px; 
  height: 10px;
}
 /* global  text above  box*/
.white-box3{
 background-color: #ffffff;
  margin-top: 5px;
  padding-bottom: 309px;
  max-width: 400px;
  align-content: center;
  margin: 0 auto;
  border-radius: 10px;
  max-height: 400px;
  
}
  
/* global  text above  box*/
.purple-bg3{
 background-color: #484FB7;
  padding-top: 30px;
  max-width: 450px;
  margin: 3px auto;
  min-height: 350px;
  border-radius: 10px;
  
}
  
/* H2 global*/
section h2:first-of-type {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: -80px;
  
}

/* H3 Global */
section h3:first-of-type{
  color: #E9BB57;
  margin-top: -0.5px;


}



/* Paragraph inside box global */
section div div > p{
  font-family: Inter;
  color: black ;
  margin-bottom: 1rem;
}




/* global image box */
section p > img {
  width: 80px;
  height: 80px;
  margin-right: 2.9rem;
  vertical-align: middle;
  margin-top: 3rem;
}


/* h4 global*/
section h4 {
  color: #484FB7;
  font-weight: bold;
  font-size:20px;
  margin-bottom: rem;

}


.red-bg{
  background-color: lightcoral;
  padding-top: 110px;
  max-width: 450px;
  margin: 3px auto;
  min-height: 350px;
  border-radius: 10px;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  
}


section > div > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  
}

section > div > ul > li {
  color: black;
  padding: 1rem;
  border-radius: 20px;
  width: 220px;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  
}


/* Choose us Box colors global */
section > div > ul > li:nth-child(1){
background-color: #4CA7C0;
width: 200px;
}

section > div > ul > li:nth-child(2){
background-color: #7396f8;

}

section > div > ul > li:nth-child(3){
background-color: #E9BB57;
width: 200px;

}

section > div > ul > li:nth-child(4){
background-color: #ffffff;

}



.individual-pricing{
  width: 70%;
  align-content: center;
  padding-left: 4rem;
  height: 4px;
  padding: 1.5rem 1rem;
}

/* Style for table header */
.individual-pricing thead tr:nth-child(3) {
background-color: #E9BB57;
color: black;
height: 15px;

}

.individual-pricing tbody tr{
  background-color: #ffffff;
  color: black;
  height: 50px;;
}


.button-1{
  background-color: #ffffff;
  color: black;
  width: 400px;
  height: 50px;
  border-radius: 10px;
  padding-right: 5px;
  margin: 2rem auto;
}


.footer-box{
   background-color: #484FB7;
   margin-bottom: 50px;
  color:#ffffff;
  width: 500px;
  height: 150px;
  
  
  margin: -50px auto 2rem auto;
}

/* Global style of 2 row tables*/


















